<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<title>XML Content Grid</title>
        <meta name="Keywords" content="xml content grid, resizable, free flash gallery, xml website, fluid layout, 100% width height, fullscreen, AS3, PHP, contact form, flashmo" />
        <meta name="Description" content="XML Content Grid is a free flash gallery that displays boxes in a grid layout. Click on any box to open up detailed XML content." />
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'latest/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
        <style type="text/css">
        <!--
        html, body {
            margin: 0;
            padding: 0;
			height: 100%;
			overflow: hidden;
            color: #FFF;
            background-color: #000000;
            font-family: Georgia, "Times New Roman", Times, serif;
            font-size: 13px;
        }
        a:link, a:visited { color: #F9F; }
        a:hover { color: #CC0; }
        -->
        </style>
        <!-- embedding SWF -->
		<script type="text/javascript" src="{% static latest/swfobject.js %}"></script>
        <script type="text/javascript" src="{% static latest/swffit.js %}"></script>
		<script type="text/javascript">
			var flashvars = {};
			var params = {};
			params.allowfullscreen = true;
			var attributes = {};
			attributes.id = "flashmo_template";
			attributes.name = "flashmo_template";
			swfobject.embedSWF("flashmo_251_content_grid.swf", "flashmo_template", "100%", "100%", "9.0.0", false, flashvars, params, attributes);
			swffit.fit("flashmo_template", 800, 400);
		</script>
        <!-- embedding SWF -->
	</head>
	<body>
		<!-- flash template SWF -->
			<div id="flashmo_template">
            	<br /><br />
            	<a href="http://www.flashmo.com" target="_blank">Free Flash Templates</a><br /><br />
                <a href="http://www.adobe.com/go/getflashplayer">
                    <img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" />
                </a>
			</div>
		<!-- flash template SWF --> 
	</body>
</html>