{% include "latest/header.html" %}
{% load staticfiles %}
<div id="page">
	<div class="container">
		        <div class="col-md-12">
  					<table class="table table-hover table-bordered">
  						<h4>Today's Update</h4>
  						<tr><td><strong>Match Description</strong></td>

  							
  								{% for item in itemlist %}

  									<td>{{item.attributes.mchDesc.value}}</td>

  								{% endfor %}
  						</tr>
  						<tr><td><strong>Status</strong></td>

  								{% for state in statelist %}
  								
  									<td>{{state.attributes.status.value}}</td>
  								
  								{% endfor %}
  						</tr>
  						<tr><td><strong>Man of match</strong></td>

  								{% for mom in momlist %}
  								
  									<td>{{mom.attributes.Name.value}}</td>
  								
  								{% endfor %}
  						</tr>		

  							
  						
  					</table>
  				</div>
		<div class="title">
			<h2>PyCricInfo Nepal</h2>
			<p>This is <strong> Pycric Nepal </strong>, This sites provides the latest news of cricket from the world. We can find all the happening of Nepalese cricket games. </p>
		</div>
		<div class="boxA">
			<div class="box margin-btm">
				<img src="{% static 'latest/images/pic01.jpg' %}" width="320" height="180" alt="" />
				<div class="details">
					<p>Consectetuer adipiscing elit. Nam pede erat, porta eu, lobortis eget, tempus et, tellus. Etiam neque. Vivamus consequat lorem at nisl.</p>
				</div>
				<a href="#" class="button">More Details</a>
			</div>
			<div class="box">
				<img src="{% static 'latest/images/pic02.jpg' %}" width="320" height="220" alt="" />
				<div class="details">
					<p>Consectetuer adipiscing elit. Nam pede erat, porta eu, lobortis eget, tempus et, tellus. Etiam neque. Vivamus consequat lorem at nisl.</p>
				</div>
				<a href="#" class="button">More Details</a>
			</div>
		</div>
		<div class="boxB">
			<div class="box">
				<img src="{% static 'latest/images/pic03.jpg' %}" width="320" height="280" alt="" />
				<div class="details">
					<p>Consectetuer adipiscing elit. Nam pede erat, porta eu, lobortis eget, tempus et, tellus. Etiam neque. Vivamus consequat lorem at nisl.</p>
				</div>
				<a href="#" class="button">More Details</a>
			</div>
			<div class="box">
				<img src="{% static 'latest/images/pic05.jpg' %}" width="320" height="140" alt="" />
				<div class="details">
					<p>Consectetuer adipiscing elit. Nam pede erat, porta eu, lobortis eget, tempus et, tellus. Etiam neque. Vivamus consequat lorem at nisl.</p>
				</div>
				<a href="#" class="button">More Details</a>
			</div>
			
		</div>
		<div class="boxC">
			<div class="box">
				<img src="{% static 'latest/images/pic04.jpg' %}" width="320" height="200" alt="" />
				<div class="details">
					<p>Consectetuer adipiscing elit. Nam pede erat, porta eu, lobortis eget, tempus et, tellus. Etiam neque. Vivamus consequat lorem at nisl.</p>
				</div>
				<a href="#" class="button">More Details</a>
			</div>
			<div class="box">
				<img src="{% static 'latest/images/pic06.jpg'%}" width="320" height="200" alt="" />
				<div class="details">
					<p>Consectetuer adipiscing elit. Nam pede erat, porta eu, lobortis eget, tempus et, tellus. Etiam neque. Vivamus consequat lorem at nisl.</p>
				</div>
				<a href="#" class="button">More Details</a>
			</div>
			
		</div>
	</div>
</div>
{% include "latest/footer.html" %}

