<!DOCTYPE html>
<html>
<head>
	<title>Sports!!!</title>
	{% load staticfiles %}
	<link rel="shortcut icon" type="image/png" href="{% static 'latest/images/canvas.png' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'latest/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <script src="{% static 'latest/js/bootstrap.js' %}"></script>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
</head>


    <body>

    <div class="container">
        <h2 class="form-signin-heading">Login to Pycricinfo</h2>
        <form class="form-signin span4" id="login_form" method="post" action="">
            {% csrf_token %}
            {% if bad_details %}
            <p><strong>Your username and/or password were incorrect!</strong></p>
            {% elif disabled_account %}
            <p><strong>Your Pycricinfo account is currently disabled; we can't log you in!</strong></p>
            {% endif %}
            Username: <input class="input-block-level" type="text" name="username" placeholder="Username" />
            <br />
            Password: <input class="input-block-level" type="password" name="password" placeholder="Password" />
            <br />

            <input class="btn btn-primary" type="submit" value="submit" />
        </form>
    </div>
    </body>
</html>